<!doctype html>
<title>Python Flask: Detect and present image with best detected face</title>
<h2>Select multiple images to upload and display</h2>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</p>

<form method="post" action="/face_list/upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Upload Images">
    </p>
</form>

<form method="post" action="/face_list/delete" enctype="multipart/form-data">
    <p>
        <input type="submit" value="Clear Images">
    </p>
</form>

<form method="get" action="/get_best" enctype="multipart/form-data">
    <p>
        <input type="submit" value="Get Best">
    </p>
</form>

{% if best_image %}
    <h2>best image:</h2>
    <div>
        <h3>{{best_image}}</h3>
        <img src="{{ url_for('display_image', filename=best_image, rectangle_coordinates=rectangle_coordinates)}}">
    </div>
{% endif %}


{% if filenames %}
    <h2>{{action}} files:</h2>
    {% for filename in filenames %}
        <div>
            <h3>{{filename}}</h3>
        </div>
    {% endfor %}
{% endif %}